<div class ="index-content">
 <div class ="container">
  <div class ="row" data-product-id="<%= @product.id %>">
    <p id="notice"><%= notice %></p>
    <div class="col-sm-12 col-lg-6 productinfo-left">
      <%= image_tag(@product.image_url, width: "350", class: "img-fluid img-zoom img-responsive", data_zoom_image: @product.image_url)%>
      <%= link_to 'Edit', edit_product_path(@product) %>
      <%= link_to 'Back', products_path %>
    </div>
   <div class="col-sm-12 col-lg-6 productinfo-right">
     <p class="productname-show">
      <%= @product.name %>
    </p>
    <p class="product-gallery-description">
      <%= @product.description %>
    </p>
    <p>
      <%= @product.text %>
    </p>
    <p class="product-gallery-description">
      <%= @product.color %>
    </p>
    <p class="product-galleryprice-tag">
      <%= @product.price %>
    </p>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
   </div>
  </div>
 </div>
</div>
<%= render 'new_comment' %>
<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
<%= render 'comments' %>
<%= will_paginate @comments %>
<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
